body{
	font-size: 20px;
}
h2{
	text-align: center;
}
.btn{
	width: 100px;
}

.form_1{
text-align: left;
margin-left: 20px;
}
.main{
	background: #eceeee;
  border: 1px solid #42464b;
  border-radius: 6px;
  height: 257px;
  margin: 20px auto 0;
  width: 298px	;
}
.first, .last, .email{
	width:250px;
	border-radius: 6px;
  
}


.login{
	float: right;
    background: #eceeee;
    border: 1px solid #42464b;
    border-radius: 6px;
    position: absolute;
    right: 80px;
    top: 80px;

}
.login h3{
		text-align: center;
}
